
.list-header {
  position: relative;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
  color: #777777;
  background-color: #eeeeee;
  padding: 0;
  border-bottom: none;
  &.editing {
    .edit {
      display: block;
      width: 506px;
      padding: 13px 17px 12px 17px;
      margin: 0 0 0 43px;
    }
    .view {
      display: none;
    }
  }
  &.completed{
    label {
      color: #b9b9b9;
      text-decoration: line-through;
    }
  }
  &:hover .destroy {
    display: block;
  }
  label {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    margin-bottom: 0px;
    display: block;
    line-height: 0.8;
    transition: color 0.4s;
    font-weight: normal;
  }
  .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 35px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
    &:hover {
      color: #af5b5e;
    }
    &:after {
      content: '×';
    }
  }
  .edit {
    display: none;
  }
}
