sudo: required

language: node_js

node_js:
  - "8.9.4"

services:
  - docker

before_install:
- docker-compose -f test.yml -p test build

script:
- docker-compose -f test.yml -p test run --rm
  --entrypoint 'sh tests.sh'
  -e TRAVIS_JOB_ID=$TRAVIS_JOB_ID
  -e TRAVIS_BRANCH=$TRAVIS_BRANCH
  -e TRAVIS=$TRAVIS
  web
