.rbc-calendar {
  margin-top: 20px;
  min-height: 600px;
  .calender-recipe-event {
    a {
      color: #ffffff;
    }
  }
  .rbc-agenda-event-cell {
    div {
      a {
        color: #337ab7;
      }
    }
  }
}